<div class="card rounded shadow shadow-sm" style="margin-bottom: 50px">
  <nav *ngIf=isloggedIn class="navbar navbar-expand-lg navbar-light bg-light">

    <a [routerLink]="['/']" class="navbar-brand">
      ALPHA
    </a>

    <button (click)="toggleNavbar()" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{ 'show': navbarOpen }" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['/rooms']" class="nav-link">Rooms</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/reservations']" class="nav-link">Reservations</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/users']" class="nav-link">Users</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a (click)="signOut()" [routerLink]="['/login']" class="nav-link">SignOut ({{currentUser.login}})</a>
        </li>
      </ul>
    </div>

  </nav>
</div>
