<div *ngIf="!reservations">
  <app-loader></app-loader>
</div>
<ng-container class="container-lg">

  <div class="card rounded shadow shadow-sm">
    <div class="card-header">
      <h4 class="float-left">Reservations</h4>
    </div>

    <div class="card-body">
      <table *ngIf="reservations" class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Begin Time</th>
          <th>End Time</th>
          <th>Confirmation</th>
          <th *ngIf="isManager"></th>
          <th *ngIf="isManager"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reservation of reservations; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ reservation.title }}</td>
          <td>{{ getFormatTime(reservation.beginTime) }}</td>
          <td>{{ getFormatTime(reservation.endTime) }}</td>
          <td>
            <div *ngIf="reservation.isConfirmed === null">Wait</div>

            <div *ngIf="reservation.isConfirmed !== null"
                 class="custom-control custom-switch">
              <input [checked]="reservation.isConfirmed" class="custom-control-input" type="checkbox">
              <label class="custom-control-label"></label>
            </div>
          </td>
          <td *ngIf="isManager">
            <button *ngIf="!reservation.isConfirmed || reservation.isConfirmed === null"
                    (click)="editConfirmation(reservation.id, true)"
                    class="btn btn-outline-success btn-sm float-right">
              Approve
            </button>
          </td>
          <td *ngIf="isManager">
            <button *ngIf="reservation.isConfirmed || reservation.isConfirmed === null"
                    (click)="editConfirmation(reservation.id, false)"
                    class="btn btn-outline-danger btn-sm float-right">
              Reject
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

</ng-container>
